@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 33% 96%;
    --foreground: 210 24% 10%;
    --muted: 210 16% 90%;
    --muted-foreground: 210 20% 40%;
    --popover: 210 33% 96%;
    --popover-foreground: 210 24% 10%;
    --card: 210 30% 94%;
    --card-foreground: 210 24% 12%;
    --border: 210 15% 80%;
    --input: 210 15% 80%;
    --primary: 20 100% 61.2%;
    --primary-foreground: 20 100% 13%;
    --secondary: 210 91% 58%;
    --secondary-foreground: 210 24% 10%;
    --accent: 210 24% 85%;
    --accent-foreground: 210 24% 10%;
    --destructive: 0 70% 55%;
    --destructive-foreground: 0 0% 100%;
    --ring: 210 55% 40%;
    --chart-1: 210 50% 35%;
    --chart-2: 190 50% 30%;
    --chart-3: 30 60% 45%;
    --chart-4: 280 50% 40%;
    --chart-5: 340 60% 50%;
    --success: 160 60% 45%;
    --success-foreground: 160 60% 7%;
    --warning: 46 75% 55%;
    --warning-foreground: 46 75% 8%;
    --icon: 210 43% 3%;
    --icon-foreground: 210 33% 96%;
  }

  .dark {
    --background: 210 43% 3%;
    --foreground: 210 31% 98%;
    --muted: 210 7% 13%;
    --muted-foreground: 210 13% 63%;
    --popover: 210 43% 3%;
    --popover-foreground: 210 31% 98%;
    --card: 210 43% 4%;
    --card-foreground: 210 31% 99%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 20 100% 61.2%;
    --primary-foreground: 20 100% 13%;
    --secondary: 210 91% 58%;
    --secondary-foreground: 210 24% 10%;
    --accent: 210 13% 14%;
    --accent-foreground: 210 13% 74%;
    --destructive: 339.2 90.36% 51.18%;
    --destructive-foreground: 0 0% 100%;
    --ring: 210 91% 58%;
    --chart-1: 210 70% 50%;
    --chart-2: 190 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --success: 160 84.1% 39.4%;
    --success-foreground: 160 60% 7%;
    --warning: 46 75% 55%;
    --warning-foreground: 46 75% 8%;
    --icon: 210 43% 96%;
    --icon-foreground: 210 43% 3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}
